
body{
  margin:0px;
  background-image:none;
  margin-left:0;
  margin-right:0;
}
.jumbotron{
  background-color: white;
  margin-bottom: 2rem;
    margin-top: 2rem;

  padding: 1rem;
  vertical-align: baseline;

}
#jm_logo {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:131px;
}
#logo{
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:131px;
}
#title1_text {
  border-width:0px;
  font-family:'Freestyle Script Bold', 'Freestyle Script Normal', 'Freestyle Script';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  text-align: center;

}
#title2_text {
  border-width:0px;
  position:relative;
  font-family: 'Monoton', cursive;  
  font-weight:300;
  font-style:normal;
  color:#358E9E;
  font-size:32px;
}
.mb-5, .my-5 {
  background-color:#e9ecef;
  margin-bottom: 1.5rem!important;
}
.navbar-dark .navbar-nav .nav-link {
  color:#358E9E;
}
a{
  border-width:0px;
  font-family:'Freestyle Script Bold', 'Freestyle Script Normal', 'Freestyle Script';
  font-weight:700;
  font-style:normal;
  font-size:34px;
  text-align: center;
  color:#358E9E;
}
.breadcrumb{
margin-bottom:0;  
}
.price{
  display:flex;  
}
#min{
  font-size: 20px;
}
#max{
  font-size: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%; 
  background: #358E9E;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.rangeValue{
  font-size: 25px;
}
.card{
  padding:0;
}
.row{
  padding-right: 15px;
  padding-left: 15px;
}
.btn-primary{
  font-size: 28px;
}
.btn-secondary{
  background-color:#358E9E;
}
figure{
  text-align: center;
}
.btn-group{
  justify-content: space-around;
}



#u36_img {
  border-width:0px;
  left:0px;
  top:0px;
  width:46px;
  height:42px;
}

#u37_img {
  border-width:0px;
  left:0px;
  top:15px;
  width:33px;
  height:21px;
}
.numberOfProdutcs{
  position: relative;
}
.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}